{%extends 'base.html' %}
{% block title %} <h1>Contactanos</h1> {% endblock %}
{% block content %} 
	{% if info_enviada  %}
		la informacion ha sido enviada satisfactoriamente!!<br />
		<h1> la informacion enviada fue :</h1>
		<p> email enviado fue : {{email}}</p>
		<p> titulo enviado fue : {{titulo}}</p>
		<p> texto enviado fue : {{texto}}</p>
	{% else %}
    	<form action="." method="post">
    		{%csrf_token%}
			{{form.as_p}}
			<input type="submit" value="submit" />
			</form>
	{%endif%}
{% endblock %}
	