{%extends 'base.html' %}
{% block title %} <h1>Inicio-Bienvenidos</h1> {% endblock %}
{% block content %}
{% if user.is_authenticated %}
<p> bienvenido {{user.username}}</p>
	{% if user.get_profile.photo %}
	 <img src="/media/{{user.get_profile.photo}}" width="100px" height="100px"/>
	{% endif %}

{% endif %}
{% endblock %}