{%extends 'base.html' %}
{% block title %} <h1>lista de productos</h1> {% endblock %}
{% block content %} 
	{% if productos %}
		<h2>lista de productos: </h2>
		<br />
		<a href="{% url  'vista_addproducto'%}">agregar producto</a> 
		<br />
		{%for p in productos %}
			
			<li>{{p.nombre}}</li>
		{% endfor %}
	{% else %}
		<h1>no existen productos!!</h1>
	
	{% endif %}

{% endblock %}
