{%extends 'base.html' %}
{% block title %} <h1>Agregar Producto</h1> {% endblock %}
{% block content %}
	<form action="." method="post">
		 		{%csrf_token%}
		 		{{form.as_p}}
		 		<input type="submit" value="grabar" />
		 		<input type="reset"  value="limpiar"/>
	</form>
		 		{{informacion}} 
{% endblock %}
