<!DOCTYPE html>
<html>
	<head>
	<title>{% block title %} {% endblock %}</title>	
	{% block css %}<link rel="stylesheet"href="/media/css/estilo.css">{% endblock %}
	</head>
	
	<body >
		<header>
		
		<h1>venta de productos </h1>
		<nav>
		<a href="{% url  'vista_principal'%}">inicio</a>
		<a href="{% url  'vista_producto'%}">producto</a>
		<a href="{% url  'vista_contacto'%}">contacto</a>
		<a href="{% url  'vista_about'%}">acerca de</a>	
		{% if user.is_authenticated %}
		<a href="{% url  'vista_logout'%}">cerrar sesion</a>
		{% else %}
		<a href="{% url  'vista_login'%}">login</a>
		{% endif %}
		</nav>
	</header>
		<section>
		{% block content %}
		
		{% endblock %}	
		</section>
	</body>
</html>