html {
 background: url(/media/images/fondo_header.png) no-repeat center center fixed;
 background-size: cover;
 -moz-background-size: cover;
 -webkit-background-size: cover;
 -o-background-size: cover;
}

nav {
	background-image: url(/media/images/fondo_header.png);
	font-family: "Arial Black";
	
	
}
header,body,nav {
	display:block;
}
nav a {
	color:white;
}
header{
	
	
}
body {
	text-align:center;
	background-color:white;
	width: 600px;
	height: 600px;
	margin-left: auto;
	margin-right:auto;
	border-radius: 15px;
	
	
}
input {
	background-color: #006666;
	color:#FFFFFF;
}
section{
	
	background-color:white;
	margin: 0 auto 0 auto;
}
h1,h2,h3 {
	color:#006666;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}
